/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/



body {
    font-family: sans-serif;
}

.delete-button {
    display: none;
    border-radius: 25%;
    border: 1px solid gray;
}

/*.todo-item:nth-child(even) > button.delete-button {*/
/*    background-color: lightcyan;*/
/*}*/

.todo-item:hover > button.delete-button {
    display: block;
}