/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/



html *,
html ::after,
html ::before {
    box-sizing: inherit;
}
body {
    margin: 0;
    background-color: var(--body-bg);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
img {
    max-width: 100%;
    margin: 0 auto;
}
p,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}
a {
    background-color: transparent;
    text-decoration: none;
}
label {
    min-width: 100px;
    display: block;
}
form {
    padding: 20px;
}
form :nth-last-child(1) {
    font-size: 17px;
    color: black;
}
form :nth-last-child(1) input {
    background-color: white;
    border: none;
}
.input_group {
    margin-bottom: 0.5rem;
    display: flex;
    color: black;
}
